
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.font-yellowtail {
  font-family: "Yellowtail", cursive;
  font-weight: 700;
}




@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  width: 100%;
  height: 100%;
}
body { margin: 0; }

  